# OS noise
Desktop.ini
[Tt]humbs.db
.Spotlight-V100
*.DS_Store
.Trashes
._*
*~
*.swp
*.out
*.bak*

#Other CSM
.hg
.svn
CVS

#Xcode noise
*.log
*~.nib
*.moved-aside
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!xcshareddata
*.xccheckout
xcuserdata/

#Project files
[Bb]uild/
DerivedData/

#CocoaPods
Pods
#Pods/*.xcodeproj/*
#!Pods/*.xcodeproj/project.pbxproj
